@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  /*Primary colors*/
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-saturated-cyan: hsl(167, 40%, 24%); /*graphic design text*/
  --dark-blue: hsl(198, 62%, 26%); /*photography text*/
  --footer-cyan: hsl(168, 34%, 41%); /*footer*/

  /*Neutral Colors*/
  --desaturated-blue: #23303e;
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

.hamburger {
  display: none;
}

.header {
  background-image: url("./images/desktop/image-header.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.navbar {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
}

.header-logo {
  color: var(--white);
  font-size: 36px;
  font-weight: 600;
  margin: 30px 5px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 5px;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-family: "Barlow", sans-serif;
  padding: 10px;
}

.nav-link:hover {
  color: var(--very-dark-grayish-blue);
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  background-color: var(--white);
  border-radius: 20px;
}

.nav-item {
  list-style: none;
  margin-left: 15px;
}

.header-message {
  font-family: "Fraunces", sans-serif;
  text-align: center;
  font-weight: 900;
  color: var(--white);
  margin: 8% auto 0 auto;
  letter-spacing: 5px;
  font-size: 68px;
  text-transform: uppercase;
}

.arrow-icon {
  margin-left: 48%;
  margin-top: 3%;
}

.hero {
  display: flex;
  height: 550px;
}

.hero-text {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.hero-text-content {
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}

.hero-header {
  font-family: "Fraunces", sans-serif;
  color: var(--desaturated-blue);
  font-weight: 900;
  margin: 20px 0;
  font-size: 38px;
}

.hero-para {
  font-family: "Barlow", sans-serif;
  color: var(--grayish-blue);
  font-weight: 400;
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.6;
}

.hero-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--desaturated-blue);
  font-family: "Fraunces", sans-serif;
  width: 30px;
  padding: 0 5px;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-one {
  background-image: url("./images/desktop/image-transform.jpg");
}

.img-two {
  background-image: url("./images/desktop/image-stand-out.jpg");
}

.img-three {
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.img-four {
  background-image: url("./images/desktop/image-photography.jpg");
}

.line {
  width: 140px;
  height: 8px;
  border-radius: 20px;
  margin-top: -7px;
}

.line-yellow {
  background-color: var(--yellow);
}

.line-pink {
  background-color: var(--soft-red);
}

.hero-three-text {
  margin: 40% auto;
  width: 60%;
  text-align: center;
}

.hero-three-header {
  font-weight: 900;
  font-size: 30px;
  margin: 10px 0;
  font-family: "Fraunces", sans-serif;
}

.header-one,
.para-one {
  color: var(--dark-saturated-cyan);
}

.header-two,
.para-two {
  color: var(--dark-blue);
}

.hero-three-para {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

.testimonial {
  height: 500px;
  text-align: center;
}

.testimonial-header {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  margin: 4% auto;
  font-size: 30px;
  letter-spacing: 4px;
  color: var(--very-dark-grayish-blue);
}

.testimonial-container {
  display: flex;
  align-items: center;
  margin: 20px 100px;
}

.testimonial-item {
  margin: 0 25px;
  padding: 10px;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial-para {
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
  font-weight: 400;
  margin: 10px auto;
  font-size: 20px;
  line-height: 1.6;
}

.testimonial-name {
  font-family: "Fraunces", sans-serif;
  color: var(--desaturated-blue);
  font-weight: 900;
  margin: 15px auto;
  font-size: 22px;
}

.testimonial-post {
  font-family: "Barlow", sans-serif;
  color: var(--grayish-blue);
  font-weight: 300;
  margin: 10px auto;
  line-height: 1.6;
}

.products-grid {
  display: flex;
  height: 400px;
}

.product {
  width: 25%;
}

.footer {
  background-color: var(--footer-cyan);
  height: 300px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top-content {
  margin-top: 5%;
}

.footer-item {
  list-style: none;
  margin: 10px 20px;
  font-family: "Barlow", sans-serif;
  color: var(--dark-saturated-cyan);
}

.footer-logo {
  color: var(--dark-saturated-cyan);
  text-align: center;
  margin: 20px auto;
}

.footer-list {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-social {
  margin: 30px 20px;
  color: var(--dark-saturated-cyan);
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    overflow-x: hidden;
  }

  .header {
    height: 65vh;
    object-position: center;
    object-fit: cover;
  }

  .navbar {
    max-width: 768px;
  }

  .logo {
    font-size: 18px;
  }

  .header-logo {
    font-size: 20px;
    margin: 20px;
  }

  .header-message {
    margin: 10% auto 0 auto;
    letter-spacing: 1px;
    font-size: 30px;
  }

  .arrow-icon {
    margin-left: 46%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .hero-text {
    height: 50%;
  }

  .hero-text-content {
    margin: 5% auto;
    padding: 20px;
    width: 100%;
  }

  .hero-header {
    margin: 10px 0;
    font-size: 26px;
  }

  .hero-para {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .order {
    order: 2;
  }

  .line {
    width: 125px;
  }

  .hero-three-text {
    margin: 60% auto 5% auto;
    width: 100%;
  }

  .hero-three-header {
    font-size: 26px;
  }

  .hero-three-para {
    font-size: 16px;
    line-height: 1.4;
  }

  .testimonial {
    height: 900px;
  }

  .testimonial-header {
    margin-top: 20%;
    font-size: 22px;
    letter-spacing: 4px;
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }

  .testimonial-item {
    margin: 10px 25px;
    padding: 10px;
  }

  .testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .testimonial-para {
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.4;
  }

  .testimonial-name {
    margin: 8px auto;
    font-size: 20px;
  }

  .testimonial-post {
    margin: 7px auto;
    line-height: 1.4;
  }

  .products-grid {
    display: flex;
    flex-direction: column;
    height: 200vh;
  }

  .product {
    width: 100%;
    height: 50vh;
  }

  .footer {
    background-color: var(--footer-cyan);
    height: 250px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin: 20px;
  }

  .nav-list {
    position: absolute;
    right: 0;
    left: 0;
    height: 35vh;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    justify-content: flex-start;
    overflow-x: hidden;
    transform: translateY(-150%);
    transition: transform 0.4s ease-in-out;
  }

  .hamburger div {
    width: 25px;
    margin: 5px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.3s ease;
  }

  .nav-active {
    transform: translateY(0%);
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 3.5px);
  }

  .toggle .line-2 {
    opacity: 0;
  }

  .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -3.5px);
  }

  .nav-list li {
    opacity: 0;
    margin-top: 30px;
    text-align: center;
  }

  .nav-list li a {
    color: var(--dark-blue);
  }
}
